<section class="container">
    <div class="flex-row justify-center">
        <div class="card w-100 post-info">
            <div class="card-body pt-2 pl-4 pr-4">
                <h4 class="d-flex justify-content-end"><i class="fas fa-user pr-3"></i>Posted By: {{user.username}}</h4>
                <h3><a class="card-title link" href="/post/{{id}}">{{title}}</a></h3>
                <hr>
                <p class="card-text">{{content}}</p>
                <hr>
                <div class="d-flex justify-content-end">
                <h6 class="">Created: {{format_date createdAt}}</h6>
                </div>
            </div>
        </div>
    </div>
</section>